{% block title_content %}
<title> Home </title>
{% endblock %}

{% block main_content %}

<!-- Page Title start -->
<section id="pageTitle">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-6">
        <h1 class="page-heading">Packages</h1>
      </div>
      <div class="col-md-6 col-sm-6">
        <div class="breadCrumb"><a href="#.">Home</a> / <span>Packages</span></div>
      </div>
    </div>
  </div>
</section>
<!-- Page Title End -->

<section id="paypackages">
  <!---four-paln-->
  <div class="four-plan">
    <div class="container">
      <h3>Four Plans</h3>
      <div class="row">
        <div class="col-md-3 col-sm-6 col-xs-12">
          <ul class="boxes">
            <li class="icon"><i class="fa fa-paper-plane" aria-hidden="true"></i></li>
            <li class="plan-name">STARTER</li>
            <li class="plan-date">30 Days sample text</li>
            <li>
              <div class="main-plan">
                <div class="plan-price1-1">$</div>
                <div class="plan-price1-2">59</div>
                <div class="plan-price1-3">per <span class="plan-price1-4">mont</span></div>
                <div class="clearfix"></div>
              </div>
            </li>
            <li class="plan-pages">Upto 6 Pages</li>
            <li class="plan-pages">Logo Design</li>
            <li class="plan-pages">Contact Form</li>
            <li class="plan-pages1">Animated Slider</li>
            <li class="plan-pages1">Free Domain</li>
            <li class="plan-pages1">10 Days Support</li>
            <li class="order"><a href="#.">order now</a></li>
          </ul>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
          <ul class="boxes">
            <li class="icon"><i class="fa fa-paper-plane" aria-hidden="true"></i></li>
            <li class="plan-name">STARTER</li>
            <li class="plan-date">30 Days sample text</li>
            <li>
              <div class="main-plan">
                <div class="plan-price1-1">$</div>
                <div class="plan-price1-2">59</div>
                <div class="plan-price1-3">per <span class="plan-price1-4">mont</span></div>
                <div class="clearfix"></div>
              </div>
            </li>
            <li class="plan-pages">Upto 6 Pages</li>
            <li class="plan-pages">Logo Design</li>
            <li class="plan-pages">Contact Form</li>
            <li class="plan-pages">Animated Slider</li>
            <li class="plan-pages1">Free Domain</li>
            <li class="plan-pages1">10 Days Support</li>
            <li class="order"><a href="#.">order now</a></li>
          </ul>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
          <ul class="boxes">
            <li class="icon"><i class="fa fa-paper-plane" aria-hidden="true"></i></li>
            <li class="plan-name">STARTER</li>
            <li class="plan-date">30 Days sample text</li>
            <li>
              <div class="main-plan">
                <div class="plan-price1-1">$</div>
                <div class="plan-price1-2">59</div>
                <div class="plan-price1-3">per <span class="plan-price1-4">mont</span></div>
                <div class="clearfix"></div>
              </div>
            </li>
            <li class="plan-pages">Upto 6 Pages</li>
            <li class="plan-pages">Logo Design</li>
            <li class="plan-pages">Contact Form</li>
            <li class="plan-pages">Animated Slider</li>
            <li class="plan-pages">Free Domain</li>
            <li class="plan-pages">10 Days Support</li>
            <li class="order"><a href="#.">order now</a></li>
          </ul>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
          <ul class="boxes">
            <li class="icon"><i class="fa fa-paper-plane" aria-hidden="true"></i></li>
            <li class="plan-name">STARTER</li>
            <li class="plan-date">30 Days sample text</li>
            <li>
              <div class="main-plan">
                <div class="plan-price1-1">$</div>
                <div class="plan-price1-2">59</div>
                <div class="plan-price1-3">per <span class="plan-price1-4">mont</span></div>
                <div class="clearfix"></div>
              </div>
            </li>
            <li class="plan-pages">Upto 6 Pages</li>
            <li class="plan-pages">Logo Design</li>
            <li class="plan-pages">Contact Form</li>
            <li class="plan-pages">Animated Slider</li>
            <li class="plan-pages">Free Domain</li>
            <li class="plan-pages">10 Days Support</li>
            <li class="order"><a href="#.">order now</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!---end four-paln--> 
  
  <!---three-paln-->
  <div class="three-plan">
    <div class="container">
      <h3>Three Plans</h3>
      <ul class="row">
        <li class="col-md-3 col-sm-6 col-xs-12">
          <div class="boxes">
            <ul>
              <li class="plan-name-dt">Pricing
                Plans</li>
              <li class="plan-pages"><i class="fa fa-paper-plane" aria-hidden="true"></i>Disk Space</li>
              <li class="plan-pages"><i class="fa fa-paper-plane" aria-hidden="true"></i>Bandwidth</li>
              <li class="plan-pages"><i class="fa fa-paper-plane" aria-hidden="true"></i>Free Domains</li>
              <li class="plan-pages"><i class="fa fa-paper-plane" aria-hidden="true"></i>phpMyAdmin</li>
              <li class="plan-pages"><i class="fa fa-paper-plane" aria-hidden="true"></i>Email Accounts</li>
              <li class="plan-pages"><i class="fa fa-paper-plane" aria-hidden="true"></i>24/7 Support</li>
            </ul>
          </div>
        </li>
        <li class="col-md-3 col-sm-6 col-xs-12">
          <div class="boxes">
            <div class="pricing-table1"> STARTER<strong>30 Days sample text</strong> </div>
            <div class="main-unit">
              <div class="pricing-unit1">$</div>
              <div class="pricing-unit1-1">59</div>
              <div class="pricing-unit1-2">per <span class="pricing-unit1-3">mont</span></div>
              <div class="clearfix"></div>
            </div>
            <ul class="pricing-detail">
              <li class="plan-detail">300 GB</li>
              <li class="plan-detail">500 GB</li>
              <li class="plan-detail">2 Domains</li>
              <li class="plan-detail">5 Free</li>
              <li class="plan-detail ico"><i class="fa fa-times" aria-hidden="true"></i></li>
              <li class="plan-detail ico"><i class="fa fa-times" aria-hidden="true"></i></li>
              <li class="order-1"><a href="#.">order now</a></li>
            </ul>
          </div>
        </li>
        <li class="col-md-3 col-sm-6 col-xs-12">
          <div class="boxes">
            <div class="pricing-table1-2"> STARTER<strong>30 Days sample text</strong> </div>
            <div class="main-unit">
              <div class="pricing-unit2">$</div>
              <div class="pricing-unit2-1">59</div>
              <div class="pricing-unit2-2">per <span class="pricing-unit2-3">mont</span></div>
              <div class="clearfix"></div>
            </div>
            <ul class="pricing-detail">
              <li class="plan-detail">300 GB</li>
              <li class="plan-detail">500 GB</li>
              <li class="plan-detail">2 Domains</li>
              <li class="plan-detail">5 Free</li>
              <li class="plan-detail1"><i class="fa fa-check" aria-hidden="true"></i></li>
              <li class="plan-detail"><i class="fa fa-times" aria-hidden="true"></i></li>
              <li class="order-2"><a href="#.">order now</a></li>
            </ul>
          </div>
        </li>
        <li class="col-md-3 col-sm-6 col-xs-12">
          <div class="boxes">
            <div class="pricing-table1-3"> STARTER<strong>30 Days sample text</strong> </div>
            <div class="main-unit">
              <div class="pricing-unit3">$</div>
              <div class="pricing-unit3-1">59</div>
              <div class="pricing-unit3-2">per <span class="pricing-unit3-3">mont</span></div>
              <div class="clearfix"></div>
            </div>
            <ul class="pricing-detail">
              <li class="plan-detail">300 GB</li>
              <li class="plan-detail">500 GB</li>
              <li class="plan-detail">2 Domains</li>
              <li class="plan-detail">5 Free</li>
              <li class="plan-detail1"><i class="fa fa-check" aria-hidden="true"></i></li>
              <li class="plan-detail1"><i class="fa fa-check" aria-hidden="true"></i></li>
              <li class="order-3"><a href="#.">order now</a></li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <!---end three-paln--> 
  
</section>

<!--Copyright-->
<div class="copyright">
  <div class="container">
    <div class="bttxt">Copyright &copy; 2017 Your Company Name. All Rights Reserved. Design by: <a href="http://graphicriver.net/user/ecreativesol" target="_blank">eCreativeSolutions</a></div>
  </div>
</div>

<!-- Bootstrap's JavaScript --> 
<script src="{% static 'techtable/js/jquery-2.1.4.min.js' %}"></script>
<script src="{% static 'techtable/js/bootstrap.min.js' %}"></script>

<!-- Owl carousel --> 
<script src="{% static 'techtable/js/owl.carousel.js' %}"></script>

<!-- Custom js --> 
<script src="{% static 'techtable/js/script.js' %}"></script>

{% endblock %}
