{% extends 'techtable/base.html' %}
{% load static %}

{% block title_content %}
<title> Home </title>
{% endblock %}

{% block main_content %}

 <!-- Page Title start -->
<section id="pageTitle">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-6">
        <h1 class="page-heading">Typography</h1>
      </div>
      <div class="col-md-6 col-sm-6">
        <div class="breadCrumb"><a href="#.">Home</a> / <span>Typography</span></div>
      </div>
    </div>
  </div>
</section>
<!-- Page Title End -->
<section id="listpgWraper">
  <div class="container">
    <!--Typography-->
    <div class="row">
      <div class="col-sm-12  ">
        <div class="mt-wrapper">
          <h1>Heading 1</h1>
          <p> Credibly promote cross-platform internal or "organic" sources whereas real-time functionalities. Appropriately communicate leading-edge e-commerce and standardized best practices. Phosfluorescently empower error-free web services for fully researched internal or "organic" sources. Holisticly create viral e-services and client-centered scenarios. Authoritatively transform orthogonal web-readiness before robust methodologies.<br>
          </p>
        </div>
        <div class="mt-wrapper">
          <h2>Heading 2</h2>
          <p>Credibly promote cross-platform internal or "organic" sources whereas real-time functionalities. Appropriately communicate leading-edge e-commerce and standardized best practices. Phosfluorescently empower error-free web services for fully researched internal or "organic" sources. Holisticly create viral e-services and client-centered scenarios. Authoritatively transform orthogonal web-readiness before robust methodologies.<br>
          </p>
        </div>
        <div class="mt-wrapper">
          <h3>Heading 3</h3>
          <p>Credibly promote cross-platform internal or "organic" sources whereas real-time functionalities. Appropriately communicate leading-edge e-commerce and standardized best practices. Phosfluorescently empower error-free web services for fully researched internal or "organic" sources. Holisticly create viral e-services and client-centered scenarios. Authoritatively transform orthogonal web-readiness before robust methodologies.<br>
          </p>
        </div>
        <div class="mt-wrapper">
          <h4>Heading 4</h4>
          <p>Credibly promote cross-platform internal or "organic" sources whereas real-time functionalities. Appropriately communicate leading-edge e-commerce and standardized best practices. Phosfluorescently empower error-free web services for fully researched internal or "organic" sources. Holisticly create viral e-services and client-centered scenarios. Authoritatively transform orthogonal web-readiness before robust methodologies.<br>
          </p>
        </div>
        <div class="mt-wrapper">
          <h5>Heading 5</h5>
          <p>Credibly promote cross-platform internal or "organic" sources whereas real-time functionalities. Appropriately communicate leading-edge e-commerce and standardized best practices. Phosfluorescently empower error-free web services for fully researched internal or "organic" sources. Holisticly create viral e-services and client-centered scenarios. Authoritatively transform orthogonal web-readiness before robust methodologies.<br>
          </p>
        </div>
        <div class="mt-wrapper">
          <h6>Heading 6</h6>
          <p>Credibly promote cross-platform internal or "organic" sources whereas real-time functionalities. Appropriately communicate leading-edge e-commerce and standardized best practices. Phosfluorescently empower error-free web services for fully researched internal or "organic" sources. Holisticly create viral e-services and client-centered scenarios. Authoritatively transform orthogonal web-readiness before robust methodologies.<br>
          </p>
        </div>
      </div>
    </div>
    <hr />

    <!--Boxes-->
    <div class="mt-wrapper">
      <div class="mt-shortcodes-d-styles">
        <h4 class="center">Default and Custom List Styles</h4>
      </div>
      <div class="row1">
        <div class="row">
          <div class="inner-row clearfix">
            <div class="col-sm-4">
              <div class="mt-wrapper">
                <div class="mt-list-style">
                  <h4>Default ordered list</h4>
                  <ul>
                    <li>1.<a href="#">Nam aliquet massa id gravida venenatis.</a></li>
                    <li>2.<a href="#">Integer quis mauris dapibus, ornare lorem vel</a></li>
                    <li>3.<a href="#">Donec non nisl sed ex fermentum pretium non ac</a></li>
                    <li>4.<a href="#">Fusce at risus tempus dolor venenatis euismod</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="mt-wrapper">
                <div class="mt-list-style">
                  <h4>Custom list with icons</h4>
                  <ul>
                    <li><span><i class="fa fa-rocket"></i></span><a href="#">Nam aliquet massa id gravida venenatis.</a></li>
                    <li><span><i class="fa fa-pencil"></i></span><a href="#">Integer quis mauris dapibus, ornare lorem vel</a></li>
                    <li><span><i class="fa fa-paper-plane"></i></span><a href="#">Donec non nisl sed ex fermentum pretium non ac</a></li>
                    <li><span><i class="fa fa-futbol-o"></i></span><a href="#">Fusce at risus tempus dolor venenatis euismod</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="mt-wrapper">
                <div class="mt-list-style">
                  <h4>Custom list with square icons</h4>
                  <ul>
                    <li><span><i class="fa fa-plus-square"></i></span><a href="#">Nam aliquet massa id gravida venenatis.</a></li>
                    <li><span><i class="fa fa-plus-square"></i></span><a href="#">Integer quis mauris dapibus, ornare lorem vel</a></li>
                    <li><span><i class="fa fa-plus-square"></i></span><a href="#">Donec non nisl sed ex fermentum pretium non ac</a></li>
                    <li><span><i class="fa fa-plus-square"></i></span><a href="#">Fusce at risus tempus dolor venenatis euismod</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row2">
        <div class="row">
          <div class="inner-row clearfix">
            <div class="col-sm-4  ">
              <div class="mt-wrapper">
                <div class="mt-list-style mt-orderlist">
                  <h4>Default ordered list</h4>
                  <ul>
                    <li><a href="#">Nam aliquet massa id gravida venenatis.</a></li>
                    <li><a href="#">Integer quis mauris dapibus, ornare lorem vel</a></li>
                    <li><a href="#">Donec non nisl sed ex fermentum pretium non ac</a></li>
                    <li><a href="#">Fusce at risus tempus dolor venenatis euismod</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-sm-4  ">
              <div class="mt-wrapper">
                <div class="mt-list-style mt-list-style-blue">
                  <h4>Custom list with colored icons</h4>
                  <ul>
                    <li><span><i class="fa fa-rocket"></i></span><a href="#">Nam aliquet massa id gravida venenatis.</a></li>
                    <li><span><i class="fa fa-pencil"></i></span><a href="#">Integer quis mauris dapibus, ornare lorem vel</a></li>
                    <li><span><i class="fa fa-paper-plane"></i></span><a href="#">Donec non nisl sed ex fermentum pretium non ac</a></li>
                    <li><span><i class="fa fa-futbol-o"></i></span><a href="#">Fusce at risus tempus dolor venenatis euismod</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-sm-4  ">
              <div class="mt-wrapper">
                <div class="mt-list-style mt-list-style-blue">
                  <h4>Custom list with colored square icons</h4>
                  <ul>
                    <li><span><i class="fa fa-plus-square"></i></span><a href="#">Nam aliquet massa id gravida venenatis.</a></li>
                    <li><span><i class="fa fa-plus-square"></i></span><a href="#">Integer quis mauris dapibus, ornare lorem vel</a></li>
                    <li><span><i class="fa fa-plus-square"></i></span><a href="#">Donec non nisl sed ex fermentum pretium non ac</a></li>
                    <li><span><i class="fa fa-plus-square"></i></span><a href="#">Fusce at risus tempus dolor venenatis euismod</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr />
    <h2>Alerts</h2>
    <div class="alert alert-success alert-dismissable"> <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a> <strong>Success!</strong> This alert box could indicate a successful or positive action. </div>
    <div class="alert alert-info alert-dismissable"> <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a> <strong>Info!</strong> This alert box could indicate a neutral informative change or action. </div>
    <div class="alert alert-warning alert-dismissable"> <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a> <strong>Warning!</strong> This alert box could indicate a warning that might need attention. </div>
    <div class="alert alert-danger alert-dismissable"> <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a> <strong>Danger!</strong> This alert box could indicate a dangerous or potentially negative action. </div>
    <hr />

    <!--Buttons-->
    <div class="mt-button-main parallax-section">
      <div class="row">
        <div class="col-sm-3">
          <div class="mt-wrapper mt-style-button1">
            <h4>Default Buttons</h4>
            <div class="mt-button-text  "> <a href="#" class="mt-style-button large">LARGE BUTTON</a> </div>
            <div class="mt-button-text"> <a href="#" class="mt-style-button normal">NORMAL BUTTON</a> </div>
            <div class="mt-button-text"> <a href="#" class="mt-style-button small">Small Button</a> </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="mt-wrapper mt-style-button2">
            <h4>Light Buttons</h4>
            <div class="mt-button-text"> <a href="#" class="mt-style-button large">LARGE BUTTON</a> </div>
            <div class="mt-button-text"> <a href="#" class="mt-style-button normal">NORMAL BUTTON</a> </div>
            <div class="mt-button-text "> <a href="#" class="mt-style-button small">SMALL BUTTON</a> </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="mt-wrapper mt-style-button3">
            <h4>Buttons with boder</h4>
            <div class="mt-button-text"> <a href="#" class="mt-style-button large">LARGE BUTTON</a> </div>
            <div class="mt-button-text"> <a href="#" class="mt-style-button normal">NORMAL BUTTOn</a> </div>
            <div class="mt-button-text"> <a href="#" class="mt-style-button small">SMALL BUTTON</a> </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="mt-wrapper mt-style-button4">
            <h4>Custom Styled</h4>
            <div class="mt-button-text mt-style-button41"> <a href="#" class="mt-style-button normal">NORMAL BUTTOn</a> </div>
            <div class="mt-button-text mt-style-button42"> <a href="#" class="mt-style-button normal">NORMAL BUTTON</a> </div>
            <div class="mt-button-text mt-style-button43"> <a href="#" class="mt-style-button normal">NORMAL BUTTOn</a> </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<!--Copyright-->
<section id="copyright">
  <div class="container">
    <div class="bttxt">Copyright &copy; 2017 Your Company Name. All Rights Reserved. Design by: <a href="http://graphicriver.net/user/ecreativesol" target="_blank">eCreativeSolutions</a></div>
  </div>
</section>

<!-- Bootstrap's JavaScript --> 
<script src="{% static 'techtable/js/jquery-2.1.4.min.js' %}"></script>
<script src="{% static 'techtable/js/bootstrap.min.js' %}"></script>

<!-- Owl carousel -->
<script src="{% static 'techtable/js/owl.carousel.js' %}"></script>

<!-- Custom js -->
<script src="{% static 'techtable/js/script.js' %}"></script>


{% endblock %}